@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, emerald;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Bricolage Grotesque", sans-serif;
}

body {
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

/* .test {
  color: #2400a7
} */

button {
  @apply whitespace-nowrap;
}
