{% load django_vite %} {% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="emerald">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'images/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}" />
    <!-- vite hmr -->
    {% vite_hmr_client %} {% vite_asset 'src/entry-client.js' %}
  </head>
  <body>
    {% block inertia %}{% endblock %}
  </body>
</html>
